
.cart-container {
  background-color: #ebebec;
  /* max-width: 900px; */
  margin-top: 10px;
  padding-left: 20px;
  font-family: Arial, sans-serif;
}

.cart-container .cartheader span {
  font-size: 24px;
}

.cart-container .cartheader p{
  text-align: center;
  margin-bottom: 20px;
  color: #22bd22;
}

.cart-container .cartheader  button {
  cursor: pointer;
  border: 1px solid #22bd22;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.2s;
}

/* Clear Cart button */


.cart-container .cartheader button:hover {
  background-color: #22bd22;
  color: #fff;
}

.cart-products {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  gap: 15px;
  align-items: center;
  border: 1px solid #eee;
  padding-right: 15px;
  /* padding: 15px; */
  border-radius: 10px;
  /* background: #321111; */
}
.productimg{
  
  width: 80px;
  
}
.cart-item img {
  width: 100%;
  border-radius: 8px;
  /* object-fit: cover; */
}

.cart-item h2 {
  font-size: 18px;
  margin: 0;
  flex: 1;
}

.cart-item p {
  margin: 4px 0;
  color: #555;
}

.cart-item .quantity-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-buttons button {
  /* background-color: #22bd22; */
  border: #22bd22 1px solid;
  color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.quantity-buttons button:hover {
  background-color: #22bd22;
}

.quantity-buttons span {
  min-width: 20px;
  text-align: center;
}